*.swp
*.pyc
*.__pycache
build*
.mypy_cache/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
sys_benchmark.txt
pyhashcat/hashcat/


proto/

outfile.txt
.gdb_history
